*.pdb
packages/
Carbon/
Silk/
Pester/
Modules
get-libgit2.org/
*.suo
**/bin/**
**/obj/**
Output/
**/*.user
.output
.vs
/node_modules/

# TODO figure out where these come from
/PowerGit/Assemblies
/Assemblies
/out
/fubar
